doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' , content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
        link(rel='stylesheet', href='../css/app.css')
        script(src='https://www.gstatic.com/firebasejs/5.3.1/firebase.js')
        script(src='../js/jquery.min.js')
    body.prim
        .this_quest
            .form
                p 你好，我很想知道，你在哪里经历过城市的损失？也就是说，在城市的哪个地方，你觉得你失去了一个地方？它叫什么名字？
                .input-group
                    textarea(type="text" id="title")
                p 如果您愿意，可以随意通过下面的名称，群组，角色或联盟来表明自己的想法。
                .input-group
                    textarea(type="text" id="name")
                .input-group
                    button(id="SendToFirebase" disabled) Submit

        .langs
            a(href="./../en/1.html") English
            a(href="./../es/1.html") Español
            a(href="./../zh/1.html") 漢語
        .message.success#success
            .wrapper
                h1 Thanks you!
                p Your entry has been added to our database on view in the North-East corner of the museum.
                em This message will auto-dismiss in 4 seconds
    script(src='../js/app.js')