$transition: .45s ease;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  &.logs {
    background: radial-gradient(circle at top center, #F5F5F5 0%, #E0E0E0 100%);
  }
  &.log {
    background: radial-gradient(circle at top center, #F5F5F5 0%, #E0E0E0 100%);
    .form {
      width: 420px;
      button {
        width: 100%;
      }
    }
  }
  &.creds {
    background: radial-gradient(circle at top center, #000 0%, #000 100%);
    height: auto;
  }
  &.prim {
    background: radial-gradient(circle at top center, #CD7874 0%, #AF5A6E 100%);
    display: flex;
    flex-direction: column;
  }
  &.secun {
    background: radial-gradient(circle at top center, #7D85D4 0%, #5F67D4 100%);
    display: flex;
    flex-direction: column;
  }
  &.terce {
    background: radial-gradient(circle at top center, #D28C9E 0%, #B46E94 100%);
    display: flex;
    flex-direction: column;
  }
}

input,
select,
button,
a {
  &:focus,
  &:visited,
  &:hover {
    outline: none;
  }
}
a {
  text-decoration: none;
  &:focus,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
.form {
  margin-right: 210px;
  width: 860px;
  p {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 42px;
  }
  .input-group {
    margin-top: 14px;
    &:nth-child(1) {
      margin-top: 0;
    }
    label {
      display: block;
      font-size: 13px;
      margin-bottom: 3px;
      text-transform: uppercase;
    }
    input {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #333333;
      font-size: 14px;
      height: 24px;
      padding: 6px 14px;
      resize: none;
      width: calc(100% - 30px);
      &:focus {
        outline: none;
      }
    }
    textarea {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #333333;
      color: white;
      font-size: 28px;
      height: 80px;
      line-height: 32px;
      padding: 6px 0;
      resize: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    button {
      align-content: center;
      background-color: rgba(255, 255, 255, .35);
      border: 2px solid #333333;
      color: #333333;
      cursor: pointer;
      display: flex;
      font-weight: 600;
      height: 36px;
      justify-content: center;
      margin-top: 49px;
      text-transform: uppercase;
      width: 140px;
      transition: $transition;
      &.hide {
        opacity: 0;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
      &[disabled] {
        cursor: not-allowed;
        opacity: .5;
        &.hide {
          opacity: 0;
        }
        &:hover {
          background-color: rgba(255, 255, 255, .35);
          color: #333333;
        }
      }
    }
  }
}
.quest {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  .item {
    background-color: #616161;
    border: 2px solid #212121;
    height: 70px;
    padding: 21px;
    width: calc(18% - 21px);
    &:nth-child(1) {
      background-color: #CD7874;
      border: 2px solid #AF5A6E;
      a {
        color: #ffffff;
        text-align: center;
      }
    }
    &:nth-child(2) {
      background-color: #7D85D4;
      border: 2px solid #5F67D4;
      a {
        color: #ffffff;
        text-align: center;
      }
    }
    &:nth-child(3) {
      background-color: #D28C9E;
      border: 2px solid #B46E94;
      a {
        color: #ffffff;
        text-align: center;
      }
    }
    a {
      align-items: center;
      color: #ffffff;
      display: flex;
      font-weight: 600;
      height: 100%;
      justify-content: center;
      width: 100%;
      p {
        font-size: 14px;
      }
    }
  }
}
.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.credits {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 auto;
  opacity: 0;
  position: relative;
  text-align: center;
  width: 960px;
  &.playme {
    opacity: 1;
  }
  .title {
    font-size: 50px;
    margin-bottom: 70px;
    text-align: center;
  }
  p {
    align-content: flex-start;
    display: flex;
    justify-content: center;
    strong {
      align-content: flex-start;
      display: flex;
      font-size: 35px;
      justify-content: flex-end;
      margin-bottom: 28px;
      margin-right: 35px;
      text-align: right;
      width: 45%;
    }
    em {
      align-items: flex-start;
      display: flex;
      font-size: 35px;
      font-style: normal;
      justify-content: flex-start;
      margin-bottom: 28px;
      text-align: left;
      width: 55%;
    }
  }
}
.langs {
  border: 2px solid #333333;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 70px;
  top: 70px;
  width: 140px;
  a {
    align-content: center;
    background-color: rgba(255, 255, 255, .35);
    border-top: 2px solid #333333;
    color: #333333;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    padding: 11px 0;
    width: 100%;
    transition: $transition;
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
    &:nth-child(1) {
      border-top: 0;
    }
  }
}
.message {
  opacity: 0;
  width: 860px;
  transition: $transition;
  &.success {}
  &.error {}
  &.in {
    opacity: 1;
    transform: scale(1);
    z-index: 999;
  }
  .wrapper {
    height: auto;
    h1 {
      font-size: 28px;
      margin: 0 0 21px 0;
    }
    p {
      font-size: 14px;
      margin: 0 0 7px 0;
    }
    em {
      display: block;
      font-size: 12px;
    }
  }
}

.play {
  background-color: white;
  cursor: pointer;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  z-index: 99;
  &.hide {
    background-color: black;
    cursor: default;
    opacity: 0;
  }
}