doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' , content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
        link(rel='stylesheet', href='css/app.css')
        script(src='https://www.gstatic.com/firebasejs/5.3.1/firebase.js')
    body.log
        .form
            .input-group
                label(for="userEmail") Email:
                input(type="email" id="userEmail")
            .input-group
                label(for="userPass") Password:
                input(type="password" id="userPass")
            .input-group
                button(id="signIn") Login with Email
    script(src='js/jquery.min.js')
    script(src='js/login.js')