doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' , content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
        link(rel='stylesheet', href='css/app.css')
        script(src='https://www.gstatic.com/firebasejs/5.3.1/firebase.js')
    body.logs
        .quest
            .item
                a(href="./en/1.html")
                    p Kiosk 1
            .item
                a(href="./en/2.html")
                    p Kiosk 2
            .item
                a(href="./en/3.html")
                    p Kiosk 3
            .item
                a(href="./credits.html")
                    p Projector
    script(src='js/jquery.min.js')